[Desktop Entry]
Name=VeneraSSR
GenericName=VeneraSSR
Comment=venera
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera
